# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\David ECI\10 SEMESTRE\IETI\LABORATORIO\3 SEMANA\IETI-SpringBootData\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
